@model Employee

@{
    ViewData["Title"] = "Department Details";
}

<h1>Employee Details</h1>

<br />

<div>
    <partial name="EmployeePartialView/_DeleteDetailsPartialView" />

    <div class="my-3">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
        <a asp-action="Index" class="btn btn-light">Bach to List</a>
    </div>
</div>