@model CreateDepartmentDto
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="my-3">
    <label asp-for="Code" class="col-form-label"></label>
    <input asp-for="Code" type="text" class="form-control" />
    <span asp-validation-for="Code" class="text-danger"></span>
</div>
<div class="my-3">
    <label asp-for="Name" class="col-form-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>

</div>
<div class="my-3">
    <label asp-for="CreateAt" class="col-form-label"></label>
    <input asp-for="CreateAt" class="form-control" />
    <span asp-validation-for="CreateAt" class="text-danger"></span>

</div>