@model ForgetPasswordDto

@{
    ViewData["Title"] = "Forget Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <div asp-validation-summary="All" class="my-2 alert-danger"></div>
        <form asp-action="SendResetPassword" method="post">
            <input class="text email" asp-for="Email" placeholder="Email" required="" />

            <!-- Checkboxes for Email and SMS -->
            <label>
                <input type="checkbox" asp-for="SendViaEmail" /> Send via Email
            </label>
            <label>
                <input type="checkbox" asp-for="SendViaSMS" /> Send via SMS
            </label>

            <input type="submit" value="Reset Password" />
        </form>

        <p>Already have an account? <a asp-action="SignIn">Login Now!</a></p>
    </div>
</div>

@section ValidationSection {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
